<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>addbed</servlet-name>
        <servlet-class>addbed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addroom</servlet-name>
        <servlet-class>addroom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addstaff</servlet-name>
        <servlet-class>addstaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addpatient</servlet-name>
        <servlet-class>addpatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookbed</servlet-name>
        <servlet-class>bookbed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userregistration</servlet-name>
        <servlet-class>userregistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_login</servlet-name>
        <servlet-class>user_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_login</servlet-name>
        <servlet-class>admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hospital_Registration</servlet-name>
        <servlet-class>Hospital_Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Active_Patient</servlet-name>
        <servlet-class>Active_Patient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Discharge_Patient</servlet-name>
        <servlet-class>Discharge_Patient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient_Details</servlet-name>
        <servlet-class>Patient_Details</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addbed</servlet-name>
        <url-pattern>/addbed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addroom</servlet-name>
        <url-pattern>/addroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addstaff</servlet-name>
        <url-pattern>/addstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addpatient</servlet-name>
        <url-pattern>/addpatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookbed</servlet-name>
        <url-pattern>/bookbed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userregistration</servlet-name>
        <url-pattern>/userregistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_login</servlet-name>
        <url-pattern>/user_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_login</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hospital_Registration</servlet-name>
        <url-pattern>/Hospital_Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Active_Patient</servlet-name>
        <url-pattern>/Active_Patient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Discharge_Patient</servlet-name>
        <url-pattern>/Discharge_Patient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient_Details</servlet-name>
        <url-pattern>/Patient_Details</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
